.body {
    background: rgb(67, 49, 116);
    background: linear-gradient(90deg, rgba(67, 49, 116, 1) 0%, rgba(32, 21, 65, 1) 100%);
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section {
    padding: 0;
}

.register {
    display: flex;
    max-width: 800px;
    min-height: 500px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.col1,
.col2 {
    width: 50%;
    padding: 30px;
}

.col1 {
    background-image: url("../assets/form-validation.jpg");
    background-size: cover;
    border-radius: 15px 0 0 15px;
}

.col2 {
    background-color: white;
    border-radius: 0 15px 15px 0;
    padding: 40px;
    color: #343434;
}

.col2 h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: xx-large;
}

.col2 h2 span {
    color: #41306f;
}

.form {
    padding: 10px 0;
}

.form>div {
    padding: 7px 0;
}

.form label,
.form .error {
    padding-left: 2px;
}

.form label {
    display: block;
    margin-bottom: 8px;
}

.col2 input {
    box-sizing: border-box;
    line-height: 40px;
    padding: 0 10px;
    border-radius: 7px;
    border: 1px solid grey;
    width: 100%;
}

.col2 .error {
    padding-top: 7px;
    font-size: small;
    color: red;
}

.col2 .checkbox {
    display: flex;
    column-gap: 15px;
    padding: 20px 0;
}

.col2 .checkbox>div {
    display: inline;
    display: flex;
    align-items: center;
}

.col2 .checkbox input {
    margin: 0;
}

.col2 .checkbox p {
    margin: 0;
}

.col2 button {
    width: 100%;
    border-radius: 8px;
    border: none;
    height: 50px;
    color: white;
    background-color: #41306f;
    font-size: 15px;
    cursor: pointer;
    transition: all .15s;
}

.col2 button:disabled {
    background-color: #cecece;
    cursor: default;
}

.col2 button:hover {
    background-color: #684db3;
}

.col2 button:disabled:hover {
    background-color: #cecece;
    cursor: default;
}