:root {
    --primary: #02457A;
    --secondary: #018ABE;
    --tertiary: #97CADB;
    --dark: #001B48;
    --light: #D6E8EE;
    --white: #F5F9FA;
    --neutral: #7F7F7F;

    --sporteev-primary: #5045e3;
    --sporteev-secondary: #58b4ff;
    --sporteev-black: #101010;
}