footer {
    display: flex;
    flex-direction: column;
    gap: 150px;
    background: #02457A;
    padding-bottom: 48px;
    padding-top: 80px;
}

footer .left a {
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

footer .left a:hover h5,
footer .left a:hover p {
    color: var(--secondary);
    transition: all .2s;
}

footer .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

footer .left img {
    width: 80px;
    border-radius: 40px;
}

footer .left div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

footer .left h5 {
    color: #D6E8EE;
    font-size: 36px;
    font-weight: 500;
    margin: 0;
    transition: all .2s;
}

footer .left p {
    color: #97CADB;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    transition: all .2s;
}

footer .right {
    display: flex;
    align-items: flex-start;
    gap: 88px;
}

footer .right .group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

footer .group p {
    color: #F5F9FA;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

footer .group a {
    color: #97CADB;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: all .2s;
}

footer .group .porto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    color: #97CADB;
}

footer .group .social {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

footer .social a {
    color: #97CADB;
    font-size: 28px;
    transition: all .2s;
}

footer .group a:hover,
footer .social a:hover {
    color: var(--secondary);
}

footer .copyright {
    color: #D6E8EE;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin: 0;
}

/* ============================================= */
/* RESPONSIVE CSS */

@media only screen and (max-width: 768px) {
    footer {
        padding: 100px 32px;
    }

    footer .wrapper {
        flex-direction: column;
        gap: 60px;
        justify-content: center;
    }

    footer .left {
        margin: auto;
    }

    footer .left a {
        gap: 24px;
    }

    footer .left img {
        width: 48px;
        border-radius: 24px;
    }

    footer .left h5 {
        font-size: 24px;
    }

    footer .left p {
        font-size: 8px;
    }

    footer .right {
        flex-direction: column;
        gap: 40px;
        margin: auto;
        align-items: center;
    }

    footer .right .group,
    footer .group .porto,
    footer .group .social {
        align-items: center;
    }
}